#navigation {
    display: inline-block;
    background-color: #5adada;
    width: 80vw;
    height: 10vh;
}
h1 {
    display: inline-block;
    width: 0;
    height: 0;
    background-color: #5adada;
}
h3 {
    display: inline-block;
    width: 0;
    height: 0;
    border: black;
    background-color: #5adada;
}
